* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.upper {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: yellow;
}
