@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Playwrite+BE+VLG+Guides&family=Playwrite+NL+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root{

} */

.container {
  width:100vw;
  height: auto;
  overflow-x: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* header */
.header {
  background-color: rgb(253, 169, 253);
  width: 100vw;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  list-style-type: none;
}
li {
  /* border: 2px solid black; */
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li_div {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%/3;
}

.nav_buttons{
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project_theme {
  font-family: "Mea Culpa", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  color: rgba(25, 96, 250, 0.945);
}

.link_header {
  text-decoration: none;
  font-family: "Mea Culpa", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}

.button_header {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: chartreuse;
  font-family: "Mea Culpa", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

/* main  */
.main {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: chartreuse;
}

.section {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  background-color: blueviolet;
  margin:10px;
  border-radius: 10px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin: 20px;
}
p{
  align-content: center;
  text-align:start;
  padding: 10px;
  font-family: "Mea Culpa", serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

/* footer */
.footer {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  font-family: "Mea Culpa", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  align-content:end;
}
