@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Markazi+Text:wght@400..700&family=Mea+Culpa&family=Playwrite+BE+VLG+Guides&family=Playwrite+NL+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  overflow-x: none;
}

/* ------------ header --------------- */
header {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-image: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  ); */
  /* background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
}
.header_container {
  width: 70%;
  height: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
  /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
  /* background: #C9CCD3; */
  /* background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten; */
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  /* background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); */
  /* background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%); */
}

.header_container:hover {
  box-shadow: 2px 2px 4.5px rgb(106, 164, 197);
}

#dashboard {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#dashboard_img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
#dashboard_para {
  font-size: 1.5rem;
  font-weight: 700;
}
/* menu icon */
.menu_button {
  display: none;
}
#icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
}

@media screen and (max-width: 1082px) {
  .menu_button {
    display: block;
    border: none;
    background-color: rgb(247, 247, 247);
    margin: 1rem;
  }

  #icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
  }
}

nav {
  width: 60%;
  height: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;
  font-weight: 600;
}

@media screen and (min-width: 1082px) {
  nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    font-weight: 600;
  }
}

.nav_anchor {
  color: rgb(95, 112, 160);
}
.nav_anchor:hover {
  color: rgb(157, 62, 235);
}

#contactus {
  width: 15%;
  display: none;
  justify-content: space-around;
  /* border: 1px solid rgb(166, 130, 223); */
  color: white;
  background-color: rgb(157, 62, 235);
  width: 100px;
  height: 50%;
  align-items: center;
  margin: 20px;
  border-radius: 7px;
}

@media screen and (min-width: 1082px) {
  #contactus {
    width: 15%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgb(166, 130, 223); */
    color: white;
    background-color: rgb(157, 62, 235);
    width: 100px;
    height: 50%;
    align-items: center;
    margin: 20px;
    border-radius: 7px;
  }
}

#contactus:hover {
  background-color: rgb(137, 22, 231);
}

/* ----------------------main------------------------------ */
main {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_section {
  width: 70vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  /* align-items: start; */
  align-items: center;
}

/* left container */
.content_left {
  width: 40%;
  height: 60rem;
  margin-top: 10rem;
}

.section_label {
  margin: 5px 0%;
  color: purple;
  font-family: "Mea Culpa", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}
.section_heading {
  margin: 10px 0% 10% 0%;
}

.section_heading {
  font-size: 4rem;
}

.section_description {
  font-size: 1.25rem;
  margin: 0% 0%;
  color: rgb(114, 112, 112);
}

/* right container  */
.content_right {
  width: 40%;
  height: 60rem;
  overflow: hidden;
  /* margin: 5%; */
}

.button_group {
  display: flex;
  justify-content: start;
  margin: 10% 0%;
}

#start_now,
#take_tour {
  width: 6rem;
  height: 2.5rem;
  /* border: 1px solid black; */
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 0.5rem;
  background-color: rgb(135, 128, 241);
  margin: 5%;
}

#take_tour:hover {
  box-shadow: 2px 1px 1.5px rgb(144, 72, 240);
  color: none;
}

#start_now:hover {
  box-shadow: 2px 1px 1.5px rgb(144, 72, 240);
  color: none;
}

#right_image {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

@media screen and (max-width: 926px) {
  .main_section {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: start;
    align-items: start;
    margin: 10%;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
  }
  .content_left {
    width: 100%;
  }
  .content_right {
    width: 100%;
  }
  .button_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #start_now,
  #take_tour {
    width: 90%;
  }

  .content_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.second_container {
  /* background-color: rgb(240, 240, 234); */
  width: 100%;
  height: 10rem;
  text-align: center;
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide 3s ease forwards;
}
.second_container_imgs {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.second_images {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 1rem;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cards_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1.5rem;
}

.card {
  width: 400px;
  height: 600px;
  margin: 1.5rem;
  border: 2px solid black;
  text-align: start;
}

.div_cards {
  width: 100%;
  height: 50%;
}

.images_card {
  width: 100%;
  height: 100%;
}
