* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.inner_container {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  background-color: teal;
  position: relative;
  transition-property: all;
  transition-duration: 5s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
}

.inner_container:hover {
  width: 1200px;
  height: 700px;
  background-color: purple;
}
