* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  /* height: 100%; */
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  padding: 20px;
  display: grid;
  /* grid-template-rows:100px 100px;
  grid-template-columns: 100px 100px 100px; */
  grid-template-rows:repeat(4,1fr) ;
  grid-template-columns:repeat(3,1fr) ;
  /* row-gap: 10px;
  column-gap: 10px; */
  gap: 20px;
}

.sub_divs {
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  border:2px solid black;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.container1{
  grid-column-start: 1;
  grid-column-end: 4;
}
.container2{
 grid-row-start: 2;
 grid-row-end: 4;
}
.container3{
  grid-column-start: 2;
  grid-column-end: 4;
}
.container6{
  grid-column-start: 1;
  grid-column-end: 4;
}
