* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: mediumslateblue;
  padding: 1rem;
  display: grid;
  /* row-gap: 1rem;
  column-gap:1rem; */
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* justify-items: center;
  align-items: center; */
  /* align-items: stretch; */

  place-items: center;
}

.sub_divs {
  width: 100%;
    height: 100%;
  /* width: 80px;
    height: 80px; */
  background-color: aquamarine;
  text-align: center;
  align-content: center;
  /* justify-self: center;
   align-self: center; */
}
