* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100vw;
  height: auto;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-self:center;
  width: 60%;
  height: 40%;
  margin: 250px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 2px;
}

.left {
  width: 50%;
  height: 100%;
  padding: 5%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.div_left_para{
    font-weight: bold;
}
.right {
  width: 50%;
  height: 100%;
}

.div_left {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 926) {
.right {
  width: 100%;
  height: 100%;
}

}
