@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Markazi+Text:wght@400..700&family=Mea+Culpa&family=Playwrite+BE+VLG+Guides&family=Playwrite+NL+Guides&display=swap");

.Logout_button {
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
