* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.card {
  width: 360px;
  height: 600px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  margin: 200px;
}
#card_img {
  width: 100%;
  height: 200px;
  /* margin: 10px; */
  border-radius: 10px 10px 0px 0px;
}

.ordering{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.subscription {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 10px;
  border-radius: 5px;
}
#subscription_a {
  color: rgb(13, 117, 187);
}
#fav_icon {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

button {
  width: 280px;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  /* background-image: radial-gradient(
    circle 950px at 2.5% 8%,
    rgba(44, 103, 176, 1) 0%,
    rgba(35, 56, 136, 1) 90%
  ); */
  /* background-image: linear-gradient(
    112.3deg,
    rgba(252, 222, 28, 1) 23%,
    rgba(202, 178, 22, 1) 70.2%
  ); */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
button:hover {
  box-shadow: 0px 12px 5px rgb(126, 126, 126, 0.8);
}

#card_a {
  text-decoration: none;
  color: beige;
}
